<div class="my-5">
    <form [formGroup]="userForm" (ngSubmit)="signup()" class="register-form custom-card">
        <div class="form-group">
            <h4 class="register-title">User Registration</h4>
        </div>
        <div class="form-group mt-4">
            <label for="firstname">First Name:</label>
            <input id="firstname" type="text" formControlName="first_name" class="form-control"
                [ngClass]="{'is-invalid': f.first_name.errors && (f.first_name.dirty || f.first_name.touched)}">
            <div class="invalid-feedback d-block" *ngIf="f.first_name.errors?.required && (f.first_name.dirty || f.first_name.touched)">
                <span>*&nbsp;</span>First name is required
            </div>
        </div>
        <div class="form-group">
            <label for="lastname">Last Name:</label>
            <input id="lastname" type="text" formControlName="last_name" class="form-control"
                [ngClass]="{'is-invalid': f.last_name.errors && (f.last_name.dirty || f.last_name.touched)}">
            <div class="invalid-feedback d-block" *ngIf="f.last_name.errors?.required && (f.last_name.dirty || f.last_name.touched)">
                <span>*&nbsp;</span>Last name is required
            </div>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input id="email" type="text" formControlName="email" class="form-control" [ngClass]="{'is-invalid': f.email.errors && (f.email.dirty || f.email.touched)}">
            <div class="invalid-feedback d-block" *ngIf="f.email.errors?.required && (f.email.dirty || f.email.touched)">
                <span>*&nbsp;</span>Email is required
            </div>
            <div class="invalid-feedback d-block" *ngIf="f.email.errors?.email && (f.email.dirty || f.email.touched)">
                <span>*&nbsp;</span>Email is invalid
            </div>
        </div>
        <div class="form-group" formGroupName="pwd">
            <label for="password">Password:</label>
            <input id="password" type="password" formControlName="password" class="form-control"
                [ngClass]="{'is-invalid': f.pwd.get('password').errors && (f.pwd.get('password').dirty || f.pwd.get('password').touched)}">
            <div class="invalid-feedback d-block" *ngIf="f.pwd.get('password').errors?.required && (f.pwd.get('password').dirty || f.pwd.get('password').touched)">
                <span>*&nbsp;</span>Password is required
            </div>
            <div class="invalid-feedback d-block" *ngIf="f.pwd.get('password').errors?.minlength && (f.pwd.get('password').dirty || f.pwd.get('password').touched)">
                <span>*&nbsp;</span>Minimum 8 characters required
            </div>
        </div>
        <div class="form-group" formGroupName="pwd">
            <label for="confirmpassword">Confirm Password:</label>
            <input id="confirmpassword" type="password" formControlName="confirmPassword"
                class="form-control" [ngClass]="{'is-invalid': (f.pwd.errors || f.pwd.get('confirmPassword').errors ) && (f.pwd.get('confirmPassword').dirty || f.pwd.get('confirmPassword').touched)}">
            <div class="invalid-feedback d-block" *ngIf="f.pwd.get('confirmPassword').errors?.required && (f.pwd.get('confirmPassword').dirty || f.pwd.get('confirmPassword').touched)">
                <span>*&nbsp;</span>Password is required
            </div>
            <div class="invalid-feedback d-block" *ngIf="f.pwd.errors?.mismatch && (f.pwd.get('confirmPassword').dirty || f.pwd.get('confirmPassword').touched)">
                <span>*&nbsp;</span>Password do not match
            </div>
        </div>
        <div class="form-group" *ngIf="response && response.length > 0">
            <div class="invalid-feedback d-block">
                <span>*&nbsp;</span>{{response}}
            </div>
        </div>
        <div class="mb-1 mt-4">
            <button class="btn btn-block btn-primary" [disabled]="userForm.invalid">Register</button>
        </div>
    </form>
</div>
