<mat-card class="user-form my-3">
  <mat-card-title class="text-center primary">User Signup</mat-card-title>
  <form #companyForm="ngForm" class="d-flex flex-flow-column">
    <mat-form-field>
      <input #first_name1="ngModel" name="first_name" [(ngModel)]="userDetails.first_name" matInput placeholder="First Name"
        required>
      <div [hidden]="first_name1.valid || first_name1.pristine" class="alert alert-danger">
        Name is required
      </div>
    </mat-form-field>
    <mat-form-field>
      <input #last_name1="ngModel" name="last_name" [(ngModel)]="userDetails.last_name" matInput placeholder="Last Name"
        required>
      <div [hidden]="last_name1.valid || last_name1.pristine" class="alert alert-danger">
        Name is required
      </div>
    </mat-form-field>
    <mat-form-field>
      <input #email1="ngModel" type="email" name="email" [(ngModel)]="userDetails.email" matInput placeholder="Email"
        required email>
      <div *ngIf="email1.invalid && email1.untouched && email1.value != '' ">
        invalid email
      </div>
      <div [hidden]="email1.valid || email1.pristine" class="alert alert-danger">
        Name is required
      </div>
    </mat-form-field>
    <mat-form-field>
      <input #password1="ngModel" (keyup)=password_check($event) name="password" [(ngModel)]="userDetails.password"
        matInput placeholder="Password" type="password" required>
      <div [hidden]="password1.valid || password1.pristine" class="alert alert-danger">
        Password is required
      </div>
    </mat-form-field>
    <mat-form-field>
      <input #confirm_password1="ngModel" name="confirm_password" [(ngModel)]="confirm_password" matInput placeholder="Confirm Password"
        type="password" required>
      <div [hidden]="confirm_password1.valid || confirm_password1.pristine" class="alert alert-danger">
        Password is required
      </div>
    </mat-form-field>
    {{response}}
    <button mat-raised-button color="primary">Submit</button>
 </form>
</mat-card>