<mat-card class="user-form my-3">
  <mat-card-title class="text-center primary">User Signup</mat-card-title>
  <form #userForm="ngForm" class="d-flex flex-flow-column" (ngSubmit)="submit(userForm)">
    <mat-form-field>
      <input #first_name1="ngModel" name="first_name" [(ngModel)]="userDetails.first_name" matInput placeholder="First Name"
        required>
      <mat-error *ngIf="first_name1.invalid">
        Name is required
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input #last_name1="ngModel" name="last_name" [(ngModel)]="userDetails.last_name" matInput placeholder="Last Name"
        required>
      <mat-error *ngIf="last_name1.valid">
        Name is required
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input #email1="ngModel" type="email" name="email" [(ngModel)]="userDetails.email" matInput placeholder="Email"
        required email>
    </mat-form-field>
    <div *ngIf="email1.invalid && email1.dirty">
      <mat-error *ngIf="email1.errors?.email">
        Invalid email
      </mat-error>
      <mat-error *ngIf="email1.errors?.required">
        Email is required
      </mat-error>
    </div>
    <mat-form-field>
      <input name="password" [(ngModel)]="userDetails.password" matInput placeholder="Password" type="password"
        required minlength="8" #password1="ngModel">
    </mat-form-field>
    <div *ngIf="password1.invalid && password1.dirty">
      <mat-error *ngIf="password1.errors?.minlength">
        Password must be at least 8 characters long.
      </mat-error>
      <mat-error *ngIf="password1.errors?.required">
        Password is required
      </mat-error>
    </div>
    <mat-form-field>
      <input #confirm_password1="ngModel" name="confirm_password" [(ngModel)]="confirm_password" matInput placeholder="Confirm Password"
        type="password" required [appConfirmEqual]="userDetails.password">
    </mat-form-field>
    <div *ngIf="confirm_password1.invalid && confirm_password1.dirty">
      <mat-error *ngIf="confirm_password1.errors?.notEqual">
        Passwords do not match
      </mat-error>
      <mat-error *ngIf="confirm_password1.errors?.required">
        Password is required
      </mat-error>
    </div>
    <p class="text-capitalize text-info">{{response}}</p>
    <button mat-raised-button color="primary" [disabled]="!userForm.form.valid">Submit</button>
  </form>
</mat-card>