.keywords-box{
    padding: 8px;
    min-height: 30px;
    border-radius: 3px / 5px;
    position: relative;
    background: rgba(0, 0, 0, 0) linear-gradient(0deg, rgb(247, 247, 247), rgb(255, 255, 255)) repeat scroll 0% 0%;
}
.keywords-box input{
    border: 0;
    width: 50%;
    background: transparent;
}
.keywords-box .button{
    margin: 2px;
}