.hide-sidenav{
    left: var(--navbar-hide-width);
}
.show-sidenav {
    left: 0;
    width: var(--navbar-width);
}
.aside{
    position: fixed;
    top: var(--navbar-height);
    bottom: 0;
    z-index: 450;
    box-shadow: 6px 0 6px rgba(0,0,0,.1);
    transition: left 200ms ease;
    /* background-image: linear-gradient(to right top, #3b2059, #42205c, #48205f, #4f1f61, #561e63); */
    background-color: #fafafa;
}
.aside-links{
    list-style: none;
    padding: 15px 0;
}
.aside-links li{
    padding: 12px 10px;
}
.aside-links li a{
    color: darkslategrey;
    display: flex;
    align-items: center;
    outline: none;
    text-transform: uppercase;
}
.aside-links li a i{
    margin-right: 12px;
}
.aside-links li a:hover{
    text-decoration: none;
}
.aside-links li:hover{
    opacity: 0.7;
}
.mask{
    position: fixed;
    top: var(--navbar-height);
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 4;
}
.active {
    outline: 0;
    border: none;
}
@media only screen and (min-width: 700px) {
    .mask {
        display: none;
    }
}