<div class="aside" [ngClass]="{'show-sidenav': showSidebar, 'hide-sidenav': !showSidebar}">
  <ul class="aside-links" *ngIf="!currentUser">
    <li>
      <a routerLinkActive="active" (click)="closeSidebar()" routerLink="/home" ><i class="fa fa-home"></i> Home</a>
    </li>
    <li>
      <a routerLinkActive="active" (click)="closeSidebar()" routerLink="user-signup" ><i class="fa fa-address-book-o"></i> User signup</a>
    </li>
    <li>
      <a routerLinkActive="active" (click)="closeSidebar()" routerLink="company-signup" ><i class="fa fa-address-book-o"></i> Company signup</a>
    </li>
    <li>
      <a routerLinkActive="active" (click)="closeSidebar()" routerLink="user-login" ><i class="fa fa-sign-in"></i> User Login</a>
    </li>
    <li>
      <a routerLinkActive="active" (click)="closeSidebar()" routerLink="company-login" ><i class="fa fa-sign-in"></i> Company Login</a>
    </li>
  </ul>

  <ul class="aside-links" *ngIf="currentUser === userType.USER">
    <li>
      <a routerLinkActive="active" (click)="closeSidebar()" routerLink="/user-home" ><i class="fa fa-home"></i> Home</a>
    </li>
  </ul>

  <ul class="aside-links" *ngIf="currentUser === userType.COMPANY">
    <li>
      <a routerLinkActive="active" (click)="closeSidebar()" routerLink="/company-home" ><i class="fa fa-home"></i> Home</a>
    </li>
    <li>
      <a routerLinkActive="active" (click)="closeSidebar()" routerLink="/company-settings" ><i class="fa fa-gear"></i> Settings</a>
    </li>
  </ul>
</div>

<div *ngIf="showSidebar" (click)="closeSidebar()" class="mask"></div>