.company-thumbnail{
    height: 100px;
}
.company{
    width: 200px;
    height: 200px;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.company-container{
    display: flex;
    flex-flow: row wrap;
}
ul{
    list-style: none;
    padding-left: 0;
    color: white;
}
li{
    margin: 14px 0;
    padding: 20px 10px;
    background: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    color: darkslategray;
    border: 1px solid lightgrey;
}
.active-resume{
    background: #005a34;
    transition: all .4s ease;
    color: white;
}
.upload-new{
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
}
.upload-new i, .upload-new .input-file{
    display: flex;
    padding: 14px 10px;
}
.predict-load {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    z-index: 99999999;
}
.predict-load img {
    width: 100%;
    max-width: 500px;
    object-fit: contain;
}
@media only screen and (max-width: 700px) {
    .company-container{
        justify-content: center;
    }
}