<div class="my-4 container" *ngIf="user_details">
  <h4 class="text-capitalize py-3">
    Predict companies using CV
  </h4>
  <div class="my-4" *ngIf="user_details.resume">
    <label>Your resumes:</label>
    <ul>
      <li *ngFor="let resume of user_details.resume; let i = index;" [ngClass]="{'active-resume': i===resume_index}"
        (click)="selected_resume = resume; resume_index = i; this.new_resume = null;">
        {{resume | resumeName}}
      </li>
    </ul>
  </div>

  <div class="mt-2 text-white upload-new bg-primary">
    <i class="fa fa-plus text-capitalize" *ngIf="!upload_new" (click)="upload_new = true; resume_index = null;">&nbsp;
      <span style="font-family: var(--font-family-sans-serif);">Upload new resume</span>
    </i>
    <i class="fa fa-trash mb-4 text-capitalize" *ngIf="upload_new" (click)="upload_new = false; resume_index = null; selected_resume = null;">&nbsp;
      <span style="font-family: var(--font-family-sans-serif);">Upload new resume</span>
    </i>
    <div *ngIf="upload_new" class="input-file">
      <div class="mb-4">
        <input type="file" (change)="onChange($event)" class="text-white">
      </div>
    </div>
  </div>

  <div class="my-4">
    <div class="mb-4">
      <button class="btn btn-primary" (click)="predict()" [disabled]="selected_resume === null && new_resume === null">Predict</button>
    </div>
  </div>

  <div *ngIf="companies">
    <div class="my-4 mt-5" *ngIf="companies.length > 0">
      <h4>Companies Predicted</h4>
      <div class="p-3 card mt-4" style="max-width: 450px">
        <p><strong>Filter</strong></p>
        <div class="mb-2">
            Experience:
            <input type="text" [(ngModel)]="experience" (keyup)="filter_companies($event)" placeholder="Enter Experience" class="form-control">
          </div>
        <div>
          Salary (LPA):
          <ng5-slider [(value)]="salary" [options]="options" (valueChange)="filter_companies($event)"></ng5-slider>
        </div>
        <small class="cursor-pointer text-secondary font-weight-bold mt-2" (click)="clear_filter()">Clear Filter</small>
      </div>
      <div class="text-capitalize company-container">
        <div class="my-3 mr-3 cursor-pointer" *ngFor="let company of companies" (click)="showCompany(company)">
            <app-simple-card
            [details]="{thumbnail: company.company_thumbnail, title: company.company_name, text: company.company_location}"></app-simple-card>
        </div>
      </div>
    </div>
  
    <div class="my-4 mt-5" *ngIf="companies.length === 0">
      <div class="alert alert-danger">
        No companies matching your CV
      </div>
    </div>
  </div>

</div>

<div [ngClass]="{'predict-load': load_start, 'd-none': !load_start}">
  <img src="assets/source.gif" alt="">
  <p>Please Wait..</p>
</div>