/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import '~ngx-toastr/toastr.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat');

html, body {
    min-height: 100vh;
    background-color: #fafafa;
    /* background-image: linear-gradient(to right top, #051937, #1e1f4c, #3e215c, #621d66, #870b67); */
    /* background-image: linear-gradient(to right top, #2876cb, #2877cc, #2977cc, #2978cd, #2978cd); */
}
:root{
    --navbar-height: 60px;
    --footer-height: 40px;
    --full-height: calc(100vh - var(--navbar-height) - var(--footer-height));
    --supes-blue: #2977cc;
    --navbar-width: calc(200px + 3vw);
    --navbar-hide-width: calc(-200px - 3vw);
    --bg-purple: linear-gradient(to right top, #ff78dd, #ea6bca, #d65eb7, #c251a4, #ae4492);;
}
.align-items-center {
    align-items: center;
}
.justify-content-center {
    justify-content: center;
}
.flex-flow-column{
    flex-flow: column;
}
.cursor-pointer{
    cursor: pointer;
}
.primary{
    color: #673ab7 !important;
}
.active {
    color: blue !important;
}
.fullpage-bg {
    min-height: calc(100vh - var(--navbar-height));
}
.custom-card{
    /* background-image: linear-gradient(to right top, #3c6bb1, #5e64b2, #7d5cad, #9751a2, #ae4492); */
    /* background-image: linear-gradient(to right bottom, #6f1f68, #7f3685, #8e4da4, #9b64c3, #a57ce4); */
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.heading-quote-bottom{
    border-bottom: 4px solid var(--supes-blue);
    width: 20%;
    border-radius: 5px;
}
.blockquote-custom{
    border-left: 4px solid var(--supes-blue);
    padding-left: 10px;
}
.responsive-h1{
    font-size: calc(2rem + 1.6vmin);
}
.responsive-h2{
    font-size: calc(1.6rem + 1.6vmin);
}