<nav *ngIf="display">
    <div class="hamburger cursor-pointer" (click)="showSidebar()">
        <i class="fa fa-bars" *ngIf="!displaySidebar"></i>
        <i class="fa fa-close" *ngIf="displaySidebar"></i>
    </div>
    <div class="nav-title">
        <a routerLink="/home" class="text-white">Adroit Pilot</a>
    </div>
    <div *ngIf="isLoggedin" (click)="logout()" class="logout-btn">
        <button class="btn">Log out</button>
    </div>
</nav>

<app-sidebar
[currentUser]="currentUser"></app-sidebar>