nav {
  height: var(--navbar-height);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  color: white;
  align-items: center;
  background-image: linear-gradient(to right, #352057, #45205d, #551e62, #671a66, #781267);
  z-index: 500;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
}
.hamburger {
  font-size: 20px;
  padding: 10px 20px;
}
button{
  color: white;
  background: transparent;
  border: 1px solid white;
}
.logout-btn{
  margin: 0 15px 0 auto;
}
