<form [formGroup]="loginForm" class="justify-content-center text-white login-form custom-card" (ngSubmit)="sigin()">
    <div class="form-group">
        <h4 class="text-center text-uppercase login-title">{{ title }} Login</h4>
    </div>
    <div class="form-group mt-2">
        <input placeholder="Email" type="text" class="form-control" formControlName="email" [ngClass]="{'is-invalid': f.email.errors?.required && (f.email.dirty || f.email.touched)}">
        <div class="invalid-feedback d-block" 
        *ngIf="f.email.errors?.required && (f.email.dirty || f.email.touched)">
        <span style="color: red;">*&nbsp;</span>Email is required</div>
    </div>
    <div class="form-group">
        <input placeholder="Password" type="password" class="form-control" formControlName="password" [ngClass]="{'is-invalid': f.password.errors?.required && (f.password.dirty || f.password.touched)}">
        <div class="invalid-feedback d-block" 
        *ngIf="f.password.errors?.required && (f.password.dirty || f.password.touched)">
        <span style="color: red;">*&nbsp;</span>Password is required</div>
    </div>
    <div class="invalid-feedback d-block text-white form-group" *ngIf="response !== 'success' && response"><span style="color: red;">*&nbsp;</span>{{response}}</div>
    <div class="form-group">
        <button type="submit" [disabled]="loginForm.invalid" class="btn btn-block btn-primary">Sign in</button>
    </div>
</form>