.login-form {
    max-width: 300px;
    margin: auto;
    height: 330px;
    display: flex;
    flex-flow: column;
    padding: 1em;
}
.is-invalid {
    border: 2px solid var(--danger);
}

.form-group {
    margin-bottom: 1.4rem;
}
.btn.disabled, .btn:disabled {
    opacity: 1;
}