<mat-card class="login-form-card mt-5">
  <div>
    <h3 class="text-center text-secondary">{{entity}} Login</h3>
  </div>
  <form class="login-form">
    <mat-form-field class="login-full-width">
      <input matInput placeholder="Email" [formControl]="emailFormControl" [errorStateMatcher]="matcher">
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Password" type="password">
    </mat-form-field>

    <button mat-raised-button color="primary">Login</button>
  </form>
</mat-card>