.banner{
    background-image: linear-gradient(to right, #523d82, #883883, #b63075, #d8365a, #e85136);
    height: 60vh;
}
.sub-banner{
    max-height: 300px;
    min-height: 100px;
}
.btn-user-stack{
    flex-flow: row;
}
.btn-user-stack button{
    max-width: 100px;
}
@media only screen and (max-width: 700px){
    .banner{
        height: 100vh;
    }
    .btn-user-stack{
        flex-flow: column;
    }
    .btn-user-stack .btn:first-child{
        margin-bottom: 10px;
    }
}