<div class="welcome-page text-center py-5 px-3">
    <h1 class="text-white responsive-h1">Welcome To <span>Adroit Pilot</span></h1>
    <div class="welcome-title my-4">
        Upload your <span style="color: #59c4eb;">resume</span> and locate the best organizations that meet your
        requirements. Begin now!
    </div>
    <button class="btn btn-lg mt-2" (click)="signup()">Sign up</button>
</div>
<div class="my-5">
    <h1 class="text-center mb-2 text-uppercase responsive-h2">What we offer?</h1>
    <hr class="heading-quote-bottom">
    <div class="d-flex" style="justify-content: space-evenly;flex-flow: row wrap;">
        <div class="card card-preview">
            <img class="card-img-top" src="../../assets/home1.png">
            <div class="card-body text-capitalize text-center d-flex flex-flow-column justify-content-center">
                <h5 class="card-title">Predict Companies</h5>
                <p class="card-text">
                    <small>Use CV to get desired companies</small>
                </p>
            </div>
        </div>

        <div class="card card-preview">
            <img class="card-img-top" src="../../assets/home2.jpg">
            <div class="card-body text-capitalize text-center d-flex flex-flow-column justify-content-center">
                <h5 class="card-title">Search Companies</h5>
                <p class="card-text">
                    <small>Find the best companies that fit your requirements</small>
                </p>
            </div>
        </div>

        <div class="card card-preview">
            <img class="card-img-top" src="../../assets/home3.jpg">
            <div class="card-body text-capitalize text-center d-flex flex-flow-column justify-content-center">
                <h5 class="card-title">Recruit the best employees</h5>
                <p class="card-text">
                    <small>Use our app to find to find the best employees for your companies</small>
                </p>
            </div>
        </div>
    </div>
</div>