<div class="welcome-page text-center py-5 px-3">
    <h1 class="text-white responsive-h1">Welcome To <span>Adroit Pilot</span></h1>
    <div class="welcome-title my-4">
        Upload your <span style="color: #59c4eb;">resume</span> and locate the best organizations that meet your
        requirements. Begin now!
    </div>
    <button class="btn btn-lg mt-2" (click)="signup()">Sign up</button>
</div>
<div class="my-5">
    <h1 class="text-center mb-2 text-uppercase responsive-h2">What we offer?</h1>
    <hr class="heading-quote-bottom">
    <div class="d-flex" style="justify-content: space-evenly;flex-flow: row wrap;width: 100%;">
        <div class="card card-preview">
            <img class="card-img-top" src="assets/home1.png">
            <div class="card-body text-capitalize text-center d-flex flex-flow-column justify-content-center">
                <h5 class="card-title">Predict Companies</h5>
                <p class="card-text">
                    <small>Use CV to get desired companies</small>
                </p>
            </div>
        </div>

        <div class="card card-preview">
            <img class="card-img-top" src="assets/build.jpg">
            <div class="card-body text-capitalize text-center d-flex flex-flow-column justify-content-center">
                <h5 class="card-title">Search Companies</h5>
                <p class="card-text">
                    <small>Find the best companies that fit your requirements</small>
                </p>
            </div>
        </div>

        <div class="card card-preview">
            <img class="card-img-top" src="assets/home3.jpg">
            <div class="card-body text-capitalize text-center d-flex flex-flow-column justify-content-center">
                <h5 class="card-title">Recruit the best employees</h5>
                <p class="card-text">
                    <small>Use our app to find to find the best employees for your companies</small>
                </p>
            </div>
        </div>
    </div>

</div>

<ng-parallax img="assets/architectural.jpg" [config]="{axis: 'Y', speed: 1.1, maxValue: '300px'}"
    class="parallax-container">
    <div class="parallax-bg">
        <h4 style="font-size: 2.5rem;">Get Hired Today!</h4>
        <p>
            A user needs to contribute time and energy looking for their dream work that matches their skills.
            Our solution additionally tackles the issue of a recruiter experiencing a countless number of resumes every
            day.
            Along these lines,
            organizations are not ready to employ the best possibility for their association and need to contribute
            additional time and asset to find the best candidates for their association.
        </p>
    </div>
</ng-parallax>

<!-- <ngu-parallax image="assets/architectural.jpg" style="height: 500px">
    <div class="parallax-bg" style="position: absolute;
    width: calc(250px + 5vw);
    padding: 25px;
    top: 30px;
    left: 20px">
            <h4 style="font-size: 2.5rem;">Get Hired Today!</h4>

            <p>
                    A user needs to contribute time and energy looking for their dream work that matches their skills. 
                    Our solution additionally tackles the issue of a recruiter experiencing a countless number of resumes every day. Along these lines, 
                    organizations are not ready to employ the best possibility for their association and need to contribute additional time and asset to find the best candidates for their association. 
            </p>
        </div>
</ngu-parallax> -->

<div class="my-5">
    <h1 class="text-center mb-2 text-uppercase responsive-h2">Technologies Used</h1>
    <hr class="heading-quote-bottom">
    <div class="d-flex" style="justify-content: space-evenly;flex-flow: row wrap;width: 100%;">
        <div class="card card-preview">
            <img class="card-img-top" src="assets/angular.png">
            <div class="card-body text-capitalize text-center d-flex flex-flow-column justify-content-center">
                <h5 class="card-title">Angular</h5>
                <p class="card-text">
                    <small>Angular is a platform for building mobile and desktop web applications.</small>
                </p>
            </div>
        </div>

        <div class="card card-preview">
            <img class="card-img-top" src="assets/flask.png">
            <div class="card-body text-capitalize text-center d-flex flex-flow-column justify-content-center">
                <h5 class="card-title">Flask</h5>
                <p class="card-text">
                    <small>Flask is a micro web framework written in Python.</small>
                </p>
            </div>
        </div>

        <div class="card card-preview">
            <img class="card-img-top" src="assets/mongodb.png">
            <div class="card-body text-capitalize text-center d-flex flex-flow-column justify-content-center">
                <h5 class="card-title">MongoDB</h5>
                <p class="card-text">
                    <small>MongoDB is a cross-platform document-oriented database program. </small>
                </p>
            </div>
        </div>
    </div>
</div>