.welcome-page{
    min-height: 60vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-image: url("../../assets/banner-home.jpg");
    background-size: cover;
    background-position: center;
}
.welcome-page h1 {
    font-family: 'Montserrat', sans-serif;
}
.welcome-page h1 span{
    white-space: nowrap;
}
.welcome-title{
    color: #dadde2;
}
.welcome-page button{
    color: white;
    background-image: linear-gradient(to right top, #0073ab, #0085b7, #0096bf, #00a7c6, #00b8ca);
}
.card-img-top{
    height: 200px;
    object-fit: contain;
}
.card-preview{
    width: calc(5vw + 250px); height: 350px;
    margin: 1.5rem 0.5rem;
}
.parallax-bg {
    background: rgba(1,1,1,0.5);
    color: white;
    padding: 20px;
    width: calc(300px + 5vw);
    background: rgba(0,0,0,0.5);
    position: relative;
    left: 30px;
    top: 30px;
}

.parallax-container {
    height: 500px;
    background-size: cover;
    max-width: 100%;
}

@media only screen and (max-width: 700px) {
    .parallax-bg {
        color: black;
        border: 1px solid #eee;
        background-color: white;
        position: relative;
        top: 60px;
    }
    .parallax-container {
        height: 550px;
    }
}

