<mat-card class="company-form my-3">
  <mat-card-title class="text-center primary">Company's Signup</mat-card-title>
  <form class="d-flex flex-flow-column">
    <mat-form-field>
      <input matInput placeholder="Company Name">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="HR:">
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Company Location"></textarea>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Email">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Contact number">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Keywords">
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Company Description"></textarea>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Password" type="password">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Confirm Password" type="password">
    </mat-form-field>
    <button mat-raised-button color="primary">Submit</button>
  </form>
</mat-card>